<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="APSWinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="ApiAddress" value="https://localhost:44309" />
    <add key="ChartPageAddress" value="https://localhost:44397"/>-->
    <add key="ApiAddress" value="https://team2aps.azurewebsites.net" />
    <add key="ChartPageAddress" value="https://team2apsresult.azurewebsites.net"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <APSWinForm.Properties.Settings>
      <setting name="LoginIDSave" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </APSWinForm.Properties.Settings>
  </userSettings>
</configuration>